.header{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1% 2%;
    background-color: rgba(245, 223, 163,.3);
    @include mobile-only {
        background-color:rgba(242, 242, 242, .7);
        padding: 5%;
    }
    @include flex(row, nowrap, space-between, center);
    color: $colour-primary;
    &__logo {
        height: 3vw;
        @include mobile-only {
            height: 8vw;
        }
    }
    &__cart{
        @include flex(row, nowrap, space-between, center);
        &__amount{
            margin-right: 1vw;
            @include mobile-only {
                margin-right: 2vw;
            }
        }
        & .btn__neumorphic{
            position: relative;
            &--cart-items{
                @include round-btn;
                padding: 5px;
                min-width: 18px;
                border: solid 1px white;
                background-color:$colour-primary;
                color: white;
                & span {
                    font-size: .5rem;
                }
                position: absolute;
                right: -20%;
                top: -20%;
            }
        }
    }
}
