$colour-secondary: #f5dfa3;
$colour-primary: #e48910;
$colour-yellow: #FFDC0F;
$colour-white: #ffffff;
$colour-black: #000000;
$colour-darkgrey: rgba(255,255,255,0.3);

$breakpoints:(
    mobile: 767.98px,
    tablet: 991.98px,
    laptop: 1199.98px
);

$items-colours:(
    teddies: (
        item1:#e2902f,
        item2:#d4c0ac,
        item3:#f2285c,
        item4:#164ebc,
        item5:#b7947a,
    ),
    oaks: (
        item1:#6b4f1f,
        item2:#c5994e,
        item3:#8e6821,
        item4:#d99b82,
        item5:#7a5038,
    ),
    vcams: (
        item1:#757053,
        item2:#676767,
        item3:#6b7da3,
        item4:#354459,
        item5:#674b47,
    ),
);

$items-options:(
    teddies:(
        teddy1:(
            color1: #80521d,
            color2: #f5dfa3,
            color3: #c98d49,
        ),
    ),

);

$widths:(
    mobile:(
        products_gallery: 95%,
        products_gallery_product: 45%,
    ),
    screen:(
        hero_products-container: 90%,
        hero_products:20vw,
    )
);

$heights:(
    mobile:(
        products_gallery: 126vw,
        products_gallery_product: 60vw,
    ),
    screen:(
        hero_bkg: 20vw,
        hero_products_img: 15vw,
    )
);
