$colour-lightorange: #f5dfa3;
$colour-darkorange: #e48910;
$colour-white: #fff;
$colour-darkgrey: rgba(255,255,255,0.3);

$breakpoints:(
    mobile: 767.98px,
    tablet: 991.98px,
    laptop: 1199.98px
);

$items-colours:(
    teddies: (
        item1:#e2902f,
        item2:#d4c0ac,
        item3:#f2285c,
        item4:#164ebc,
        item5:#b7947a,
    ),
    oaks: (
        item1:#6b4f1f,
        item2:#c5994e,
        item3:#8e6821,
        item4:#d99b82,
        item5:#7a5038,
    ),
    vcams: (
        item1:#757053,
        item2:#676767,
        item3:#6b7da3,
        item4:#354459,
        item5:#674b47,
    ),
);
