*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    background-color: $colour-secondary;
    @include mobile-only {
        background-color: darken($colour-white, 5%);
        padding-top: 10vh;
        padding-bottom: 90px;

    }
    padding-top: 100px;
    padding-bottom: 5rem;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: top;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative;
    min-height: 100vh;
}
